body{
    text-align: justify;        
    width: 1000px;
    margin: 0 auto;
    background-image: url(C:/Users/vibhu/Desktop/project/two.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 130% ;
}

#head2{
    font-size: 32px;
    margin-left: 20px;
    text-align: center;
}


#wrapper2{
    width: 1000px;
    margin: 0 auto;
    background: bisque;
}

h1{
    font-size: 32px;
    margin-left: 20px;
}

.wordings{
    font-size: 24px;
    color: brown;
    margin-left: 20px;
}

h3{
 margin-left: 20px;
}

.word2{
     margin-left: 20px;
     margin-bottom: 10px;
}
label,select{
    width: 100px;
    height: 30px;
    display: inline-block;
}

.word3{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}
